
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
   flex: 1;
   text-align: center;   
}
nav ul li{
    display: inline-block;
    margin-right: 40px;
    
}
a{
    text-decoration: none;
    color: rgb(188, 178, 178);
}
 a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: blue;
    
    margin: auto;
    display: block;

}
li a:hover::after{
    width: 100%;

}
.youraccount{
    font-size: 11px;
    margin-right: 30px;
    border-radius: 16px;
    background: #FFD8DB;
    padding: 16px;
    width: 112px;
    height: 42px;
}
.youraccount a{
    color: blue;
}
.img img{
    margin-left: 874px;
    height: 572px;
}
.sw p{
    margin-left: 120px;
    
}
.content{
    width: 100%;
    position: absolute;
    top: 32%;
    transform: translateY(-50%);
    text-align: left;
}
.content h1{
    font-size: 69px;
    margin-left: 132px;

}.content p{
    font-size: 15px;
    margin-left: 141px;
    margin-top: 22px;
}
.newaccount{
    font-size: 11px;
    background-color: #5243C0;
    padding: 16px;
    width: 112px;
    height: 42px;
    border-radius: 16px;
    margin-left: 142px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    text-align: left;
}
.newaccount a{
    color: #ffffff;
}
.arr{
    width: 25px;
    float: left;
    margin-left: 26px;
    margin-right: -13px;
    padding: 19px;
}
.arr img{
    height: 51px;
}
.arrowbutton{
    position: absolute;
    transform: translateY(-50%);
    bottom: 236px;
    margin-left: 221px;
}
.user{
    display: inline-block
}

.ticks{
    display: inline-flex;
    border-radius: 4px;
    background-color: rgb(238, 232, 232);
    width: 262px;
    height: 42px;
}
.container{
    margin-left: 140px;
    position: absolute;
    top: 70%;  
}
.ticks:hover{
    background-color: white;
    
}
.checkbox:hover{
    background-color: #5243C0;
    
}




    

    
    
    
    
    
    
    

    


    

